.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.cf {
  display: inline-block;
}
html[xmlns] .cf {
  display: block;
}
* html .cf {
  height: 1%;
}
html,
body {
  font-size: 0;
  line-height: 12px;
  background: #222;
  height: 100%;
}
html.running .start,
body.running .start {
  opacity: 0;
}
h1,
h2,
h3 {
  color: #666761;
}
.space {
  position: relative;
  height: 80%;
  border: 1px solid #666761;
}
.enemy {
  position: absolute;
  margin: 1px 1px;
  overflow: hidden;
  background: #666761;
  /* -webkit-transition: left .4s, top .4s;
     -moz-transition: left .4s, top .4s;
          transition: left .4s, top .4s; */
}
.playground {
  height: 50px;
  background: #666761;
}
.player {
  background: #eeefed;
  width: 75px;
  height: 50px;
  margin: 0 auto;
}
.control {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
}
.control .start {
  display: inline-block;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  transition: opacity .2s;
}
.shot {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 3px;
  background: yellow;
  z-index: 11;
  -webkit-transition: bottom 0s;
  -moz-transition: bottom 0s;
  transition: bottom 0s;
}
.shot.flying {
  display: block;
  -webkit-transition: bottom .01s;
  -moz-transition: bottom .01s;
  transition: bottom .01s;
}
