.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.cf {
  display: inline-block;
}

html[xmlns] .cf {
  display: block;
}

* html .cf {
  height: 1%;
}

@background-1: #222321;
@background-2: #666761;
@highlight: #eeefed;


html, body {
  font-size: 0;
  line-height: 12px;
  background: #222;
  height: 100%;

  &.running {
    .start { opacity: 0; }
  }
}

h1, h2, h3 {
  color: @background-2;
}

.space {
  position: relative;
  height: 80%;
  border: 1px solid @background-2;
}

.enemy {
  position: absolute;
  margin: 1px 1px;
  overflow: hidden;
  background: @background-2;

  -webkit-transition: left .4s, top .4s;
     -moz-transition: left .4s, top .4s;
          transition: left .4s, top .4s;
}

.playground {
  height: 50px;
  background: @background-2;
}

.player {
  background: @highlight;
  width: 75px;
  height: 50px;
  margin: 0 auto;
}

.control {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;

  .start {
    display: inline-block;

    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
            transition: opacity .2s;
  }
}

.shot {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 3px;
  background: yellow;
  z-index: 11;

  &.flying {
    display: block;

    -webkit-transition: bottom .01s;
       -moz-transition: bottom .01s;
            transition: bottom .01s;
  }

  -webkit-transition: bottom 0s;
     -moz-transition: bottom 0s;
          transition: bottom 0s;

}